services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    env_file:
      - ./.env
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P \"$${SQLSERVER_PASSWORD}\" -Q \"SELECT 1\"",
        ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    ports:
      - "1433:1433"
    networks:
      - online-shop
    volumes:
      - ./data:/data

networks:
  online-shop:
    external: true
    
