services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    env_file:
      - .env
    ports:
      - "1433:1433"
    volumes:
      - ./data:/data
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P \"$${SA_PASSWORD}\" -Q \"SELECT 1\" -C"
        ]
      interval: 15s
      timeout: 5s
      retries: 15
      start_period: 60s
    networks:
      - microservices-network

networks:
  microservices-network:
    external: true